.ext{
	border-radius: 13px;
	border: red 3px solid;
}
.t1{
	border-radius: 5px;
	background-color: pink;
	border:blue 2px solid;
	margin: 8px;
	padding: 8px;
	text-align: justify;
}
.t2{
	border:blue 2px solid;
	border-radius: 5px;
	margin: 8px;
	padding: 8px;
	text-align: justify;

}
